@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-white font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}